section#work {
	overflow-y: auto;
	height: 100%;
	background-color: #000000;
}
section#work > main {
	position: absolute;
	z-index: 2;
	background-color: rgba(0,0,0,0);
	width: 100%;
	overflow-y: auto;
	height: 100%;
	perspective: 100px;
	display: none;
}
section#work.show-text > main, 
section#work.show-text > video {
	animation-name: fade-in;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
section#work.show-text > main {
	display: block;
}
section#work.show-text > video {
	opacity: 0;
	filter: blur(3px)contrast(85%) brightness(40%);
}
section#work > main .container {
	position: relative;
	/* padding: 0% 11%; */
	overflow-y: auto;
	max-height: 0;
}
section#work.show-text > main .container {
	/*transform: translateY(100%);*/
	animation-name: work-container-amination;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	/*transform-style: preserve-3d;*/
}
@keyframes work-container-amination {
    0% {
        /*transform: translateY(100%);*/
        /*transform: translateY(100%) rotateX(5deg) translateZ(100px);*/
        /*opacity: 0;*/
        max-height: 0;
    }
    100% {
        /*transform: translateY(0) rotateX(0deg) translateZ(0px);*/
        /*opacity: 1;*/
		max-height: 100%;
    }
}

section#work > video {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #000000;
}



/* mobile */
@media screen and (max-width: 991px) {




}